* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background: #1e143d;
    margin-top: 10%;
}

.contact h2{
    color: whitesmoke;
    font-size: 40px;
    font-family: 'Montserrat', fantasy;
    text-align: center;
    margin-bottom: 10px;
}

.contact form{
    width: 600px;
    text-align: center;
}

form .input-box{
    display: flex;
    justify-content: space-between;

}

.input-box .input-field{
    width: 48.5%;
}

.field .item{
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #00aeff;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    color: #ededed;
    margin: 12px 0;
}

.field.error .item{
    border-color: #d93025;
}

.field .item::placeholder{
    color: rgba(255, 255, 255, .3);
}

.field .error-txt{
    font-size: 14.5px;
    color: #d93025;
    text-align: left;
    margin: -5px 0 10px;
    font-family: 'Montserrat', fantasy;
    display: none;
}

.field.error .error-txt{
    display: block;
}

form .textarea-field .item {
    resize: none;
}

form .textarea-field .error-txt{
    margin-top: -10px;
}

form button{
    padding: 12px 32px;
    background: #00aeff;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px #00aeff;
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

form button:hover{
    box-shadow: none;
}