*{
    box-sizing: border-box;
}

html{
    height: 100%;
    
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

body{
    margin: 0;
    background-color: #1e143d;
    justify-content: space-between;
    
    min-height: 100%;
    
    display: flex;
    flex-direction: column;
    overflow-x:hidden;
}


header{
    background-color: #180F34;
    padding: 15px;
    height: auto;
    width: 100%;
    top: 0px;
    left: 0px;
}

#logo{
    position: relative;
    border-radius: 50%;
    width: 100px; 
    height: 100px;
}

#name{
    position: absolute;
    left:130px;
    top:50px;
    font-family: 'Montserrat', fantasy;
    font-size: 30px;
    font-weight: 400;
    color: whitesmoke;
}

main{
    justify-content: center;
    align-content: center;
    
}

#pic{
    margin:auto;
    z-index: 0;
    max-width: 100%;
}

#pic2{
    margin:auto;
    z-index: 0;
    max-width: 100%;
}

#but{
    position: absolute;
    display: inline-block;
    border-color: #1e143d;
    border-width: 5px;
    width: 230px;
    height: 69px;
    border-radius: 35px;
    margin-left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    transition: all 0.3s;
    cursor: pointer;
    font-family: 'Montserrat', fantasy;
    font-size: 16px;
    font-weight: 500;
    top: 0;
}

#but span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

#but span:after{
    content: '\00bb';
    font-weight: 500;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
}

#but:hover{
    background-color: #a39db6;
    border-width: 8px;

}

#but:hover span{
    padding-right: 15px;
}

#but:hover span:after{
    border-width: 7px;
    cursor: pointer;
    opacity: 1;
    right:0;
}



footer{
    position: relative;
    margin-top: auto;
}

.footer-content{
    background-color: #180F34;
    width: 100%;
    height: 80px;
    padding: 20px;
}

#copyright{
    font-family: 'Montserrat', fantasy;
    font-size: 15px;
    color: whitesmoke;
    margin-left: 10px;
    margin-top: 10px;
}

.links{
    align-content: space-around;
}

#link1{
    position: absolute;
    bottom: 10px;
    right: 20px;
}

#link2{
    position: absolute;
    bottom: 10px;
    right: 90px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
