*{
    box-sizing: border-box;
}

html{
    height: 100%;
    overflow: visible;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

body{
    margin: 0;
    background-color: #1e143d;
    justify-content: space-between;
    
    min-height: 100%;
    
    display: flex;
    flex-direction: column;
}

header{
    background-color: #180F34;
    padding: 7px;
    height: auto;
    width: 100%;
    top: 0px;
    left: 0px;
}

#logo{
    position: relative;
    border-radius: 50%;
    width: 60px; 
    height: 60px;
}

#name{
    position: absolute;
    left:65px;
    top:13px;
    font-family: 'Montserrat', fantasy;
    font-size: 20px;
    font-weight: 400;
    color: whitesmoke;
}

@media screen and (max-width: 600px) {
    header{
        background-color: #180F34;
        padding: 7px;
        height: auto;
        width: 100%;
        top: 0px;
        left: 0px;
    }
    
    #logo{
        position: relative;
        border-radius: 50%;
        width: 40px; 
        height: 40px;
    }

    #name{
        position: absolute;
        left: 50px;
        top: 20px;
        font-family: 'Montserrat', fantasy;
        font-size: 20px;
        font-weight: 400;
        color: whitesmoke;
        
    }
}

main{
    justify-content: center;
    align-content: center;
}

#pic{
    margin:auto;
    z-index: 0;
    max-width: 100%;
}

#pic2{
    margin:auto;
    z-index: 0;
    max-width: 100%;
}

#but{
    position: relative;
    display: inline-block;
    border-color: #1e143d;
    border-width: 5px;
    width: 170px;
    height: 60px;
    border-radius: 35px;
    transition: all 0.3s;
    cursor: pointer;
    font-family: 'Montserrat', fantasy;
    font-size: 15px;
    font-weight: 500;
    transform: translateX(-50%);
    left: 50%;
    bottom:130px;
}

@media screen and (max-width: 600px) {
main{
    justify-content: center;
    align-content: center;
}

#pic{
    margin:auto;
    z-index: 0;
    max-width: 100%;
}

#pic2{
    margin:auto;
    z-index: 0;
    max-width: 100%;
}
    #but{
        position: relative;
        display: inline-block;
        border-color: #1e143d;
        border-width: 5px;
        width: 190px;
        height: 60px;
        border-radius: 35px;
        transition: all 0.3s;
        cursor: pointer;
        font-family: 'Montserrat', fantasy;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        line-height: 0px;
        transform: translateX(-50%);
        left: 50%;
        bottom:10px;
    }
}

#but span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

#but span:after{
    content: '\00bb';
    font-weight: 500;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
}

#but:hover{
    background-color: #a39db6;
    border-width: 8px;

}

#but:hover span{
    padding-right: 15px;
}

#but:hover span:after{
    border-width: 7px;
    cursor: pointer;
    opacity: 1;
    right:0;
}


@media screen and (max-width: 600px) {
footer{
    position: relative;
    margin-top: auto;

}

.footer-content{
    position: absolute;
    background-color: #180F34;
    width: 100%;
    height: 60px;
    padding: 20px;
    transform: translateY(-100%);
}

#copyright{
    font-family: 'Montserrat', fantasy;
    font-size: 15px;
    color: whitesmoke;
    margin-left: 10px;
    margin-top: 10px;
}

.links{
    align-content: space-around;
}

#link1{
    position: absolute;
    bottom: 10px;
    right: 20px;
}

#link2{
    position: absolute;
    bottom: 10px;
    right: 90px;
}
}

@media screen and (min-width: 600px) {
    footer{
        position: relative;
        margin-top: auto;
    }
    
    .footer-content{
        position: absolute;
        background-color: #180F34;
        width: 100%;
        height: 80px;
        padding: 20px;
        transform: translateY(-100%);
    }
    
    #copyright{
        font-family: 'Montserrat', fantasy;
        font-size: 15px;
        color: whitesmoke;
        margin-left: 10px;
        margin-top: 10px;
    }
    
    .links{
        align-content: space-around;
    }
    
    #link1{
        position: absolute;
        bottom: 10px;
        right: 20px;
    }
    
    #link2{
        position: absolute;
        bottom: 10px;
        right: 90px;
    }
}
