body{
    background-color: #1e143d;
    /*
    background-image: url(rfhnbyrf_1.png);
    */
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x: right;
    overflow-x: hidden;
}

header{
    display: block;
    background-color: #180F34;
    position: absolute;
    block-size: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 100px;
    width: 100vw;
    /*
    opacity: 0.8;
    */
    top: 0px;
    left: 0px;
}

#logo{
    position: relative;
    border-radius: 50%;
    width: 100px; 
    height: 100px;
}

#content{
    position: absolute;
    left:120px;
    top:40px;
    vertical-align: middle;
    font-family: 'Montserrat', fantasy;
    font-size: 30px;
    font-weight: 400;
    color: whitesmoke;
}

#pic{
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    top: 110px;
    text-align: center;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#but{
    display: inline-block;
    position: absolute;   
    border-color: #1e143d;
    border-width: 5px;
    width: 245px;
    height: 69px;
    border-radius: 35px;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s;
    cursor: pointer;
}

#but span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

#but span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
}

#but:hover{
    background-color: #a39db6;
    border-width: 8px;

}

#but:hover span{
    padding-right: 25px;
}

#but:hover span:after{
    border-width: 8px;
    cursor: pointer;
    opacity: 1;
    right:0;
}


footer{
    position: absolute;
    background-color: #180F34;
    width: 100vw;
    height: 40px;
    padding: 20px;
    left: 0;
    bottom: 0;
    
}

.copyright{
    position: absolute;
    font-family: 'Montserrat', fantasy;
    font-size: 15px;
    color: whitesmoke;
}

#contact{
    position: absolute;
    font-family: 'Montserrat', fantasy;
    font-size: 20px;
    background-color: #180F34;
    color: whitesmoke;
    border: none;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    text-decoration: none;
}

#contact:hover{
    color:#c2bfce;
}

#link1{
    position: absolute;
    bottom: 10px;
    right: 60px;
}

#link2{
    position: absolute;
    bottom: 10px;
    right: 120px;
}

/*
20wildpony02@gmail.com
*/